<!DOCTYPE html>
<html lang="en">

<head>
	
	<style>
		.zui-table {
		    border: solid 1px #DDEEEE;
		    border-collapse: collapse;
		    border-spacing: 0;
		    font: normal 13px Arial, sans-serif;
		}
		.zui-table thead th {
		    background-color: #DDEFEF;
		    border: solid 1px #DDEEEE;
		    color: #336B6B;
		    padding: 10px;
		    text-align: left;
		    text-shadow: 1px 1px 1px #fff;
		}
		.zui-table tbody td {
		    border: solid 1px #DDEEEE;
		    color: #333;
		    padding: 10px;
		    text-shadow: 1px 1px 1px #fff;
		}
		
				.vert-table, th, td {
   border: solid 1px #DDEEEE;
  border-collapse: collapse;
			
 
}
th, td {
  padding: 5px;
  text-align: left;
}
		
	</style>
</head>
<body>
	 <img  src="{{.GetResourcePath}}images/futuralogo.png"  alt=""  />  
	
	<h2 ><strong><span> {{ .Title }}</span></strong>  </h2>

	
	
	{{if .CommonDataHeads }} 

  <table   class="vert-table"  style = "margin-bottom:20px;" >
	{{range $index1, $rows := .ConvertTo2D .CommonDataHeads 3}}
	<tr>

	{{range $index2, $head := .}}

	    <th >{{.}}</th>
		<td> {{index $.CommonDataDetails ($.Get1Dindex $index1  $index2 3)}} </td>
	{{end}}  
	</tr>
	{{end}}  
	</table>
	{{end}}  


	 {{range $index , $pageRows := .GetDetailPages }}

    {{if  (ne $index 0) }}
	   <br/>
	    <br/>
		<table class="zui-table" style = "margin-top:2px">

	{{else}}
         <table class="zui-table" >
	 {{end}}
	
			<thead>
				<tr>
				  {{range $.ColumnHeadings}}
					<th>{{.}}</th>
					{{end}}
				</tr>
			</thead>

			<tbody>
			      {{range . }}
			  
				<tr>
				    {{range .}}
				   <td>{{.}}</td>
					{{end}}
				</tr>

				{{end}}
				
			</tbody>
			
		</table>

	{{end}}
	
{{if .FooterDataHeads }} 
 <h3 ><strong>Summary</strong>  </h3>
	  <table   class="vert-table" >

	  {{range $index1, $rows := .ConvertTo2D .FooterDataHeads 3}}
	<tr>

	{{range $index2, $head := .}}

	    <th >{{.}}</th>
		<td> {{index $.FooterDataDetails ($.Get1Dindex $index1  $index2 3)}} </td>
	{{end}}  
	</tr>
	{{end}}  
	</table>

{{end}}
</body>
</html>